*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display:flex;
  align-items: center;
  justify-content: center;
}
.obra-de-arte{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
img{
  margin-top: 20px;
  height: 300px;
}
button{
  padding: 20px;
  font-size: 50px;
}
p{
  margin-top: 10px;
  font-size: 15px;
}